/* Reseting Stuff */
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@500&display=swap');

:root {
  font-size: 62.5%; /* 10px */
}

html {
  background-color: #101010;
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font: inherit;
  font-family: monospace;
}

image,
video {
  display: block;
  width: 100%;
}
